{% extends 'base.html.twig' %}

{% block title %}New Adherent{% endblock %}

{% block body %}
    <h1>Nouvel Adhérent</h1>
    <br>

    {{ include('adherent/_form.html.twig') }}
    <br>

    <a href="{{ path('app_adherent') }}">Retour à la liste </a>
{% endblock %}
