{% extends 'base.html.twig' %}

{% block title %}New SeanceCollective{% endblock %}

{% block body %}
    <h1>Create new SeanceCollective</h1>

    {{ include('seance_collective/_form.html.twig') }}

    <a href="{{ path('app_seance_collective_index') }}">back to list</a>
{% endblock %}
