{% extends 'base.html.twig' %}

{% block title %}New Coach{% endblock %}

{% block body %}
    <h1>Nouveau Coach</h1>
<br>
    {{ include('coach/_form.html.twig') }}
    <br>

    <a href="{{ path('app_coach') }}">Retour</a>
{% endblock %}
