{% extends 'baseAdherent.html.twig' %}

{% block title %}New SeanceLibre{% endblock %}

{% block body %}
    <style>
        body {
            text-align: center;
            color: black;

        }
        h1 {
            text-decoration: underline;
            color: #000000;
        }

        a {
            color: red;
        }

    </style>
    <h1>Ajouter une séance libre</h1>
    <br>
    {{ include('seance_libre/_form.html.twig') }}
    <br>
    <a href="{{ path('app_seance_libre_index') }}">Retour à la liste</a>
{% endblock %}
