{% extends 'base.html.twig' %}

{% block title %}Edit FicheSante{% endblock %}

{% block body %}
    <h1>Edit FicheSante</h1>

    {{ include('fiche_sante/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_fiche_sante_index') }}">Retour à la liste</a>

    {{ include('fiche_sante/_delete_form.html.twig') }}
{% endblock %}
