{% extends 'base.html.twig' %}

{% block title %}New FicheSante{% endblock %}

{% block body %}
    <h1>Create new FicheSante</h1>

    {{ include('fiche_sante/_form.html.twig') }}

    <a href="{{ path('app_fiche_sante_index') }}">back to list</a>
{% endblock %}
