    {% extends 'baseAdherent.html.twig' %}

{% block title %}New FicheSante{% endblock %}

{% block body %}
    <style>
        body {
            text-align: center;
            color: black;

        }
        h1 {
            text-decoration: underline;
            color: #000000;
        }

        a {
            color: red;
        }

    </style>
    <h1>Nouvelle Fiche de Santé</h1>
    <br>
    {{ include('fiche_sante/_form.html.twig') }}
    <br>
    <a href="{{ path('app_fiche_sante_index') }}">Retour à la liste</a>
{% endblock %}
